<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
<!-- 
	<h1>Funcionando</h1>
	<p th:text="${news1[0]}"></p>

	<div class="card" style="width: 18rem;">
		<img th:src="${news[2]}" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title" th:text="${news1[0]}"></h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

 -->


	<h1 style="margin: 0; text-align: center; font-size: 100px">Sistema
		de Noticias</h1>
	<table class="table table-dark">
		<tbody>
			<tr>
				<td style="border: 1px solid black; padding: 3px; margin: 0px;">
					<img alt="" th:src="${news1[2]}" width="355px" height="200px">
					<h2 th:text="${news1[0]}"></h2>
					<p th:text="${news1[1]}"></p>
				</td>
				<td style="border: 1px solid black; padding: 3px; margin: 0px;">
					<img alt="" th:src="${news2[2]}" width="355px" height="200px">
					<h2 th:text="${news2[0]}"></h2>
					<p th:text="${news2[1]}"></p>
				</td>
				<td style="border: 1px solid black; padding: 3px; margin: 0px;">
					<img alt="" th:src="${news3[2]}" width="355px" height="200px">
					<h2 th:text="${news3[0]}"></h2>
					<p th:text="${news3[1]}"></p>
				</td>
				<td style="border: 1px solid black; padding: 3px; margin: 0px;">
					<img alt="" th:src="${news4[2]}" width="355px" height="200px">
					<h2 th:text="${news4[0]}"></h2>
					<p th:text="${news4[1]}"></p>
				</td>
				<td style="border: 1px solid black; padding: 3px; margin: 0px;">
					<img alt="" th:src="${news5[2]}" width="355px" height="200px">
					<h2 th:text="${news5[0]}"></h2>
					<p th:text="${news5[1]}"></p>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>